// .container {
//   width: 75%;
//   margin: auto;
//   padding-bottom: 2rem;
//   .list-container {
//     display: flex;
//     flex-flow: row wrap;
//     justify-content: center;
//     gap: 2rem;
//   }
// }


.product-image {
  list-style-type: none;
  width: 290px;
  padding: 20px;
  margin: 6px 6px;
  border: 1px solid #33b5e5;
}
